<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Choose Emp to be Deleted 
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <ul class="dropdown-menu">
            {%for i in emp%}
          <a class="dropdown-item" href="/removeemp/{{i.id}}">{{i.name}} {{i.lname}}</a><br>
            {%endfor%}
        </ul>
        </div>
      </div></body>
</html>